<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.log">

	<targets>
		<target xsi:type="File"
				name="file"
				fileName="logs/log-${shortdate}.json"
				encoding="utf-8">
			<layout xsi:type="JsonLayout" includeAllProperties="true">
				<attribute name="timestamp" layout="${longdate}" />
				<attribute name="level" layout="${level:uppercase=true}" />
				<attribute name="logger" layout="${logger}" />
				<attribute name="message" layout="${message}" />
				<attribute name="exception" layout="${exception:format=toString}" />
			</layout>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="file" />
	</rules>
</nlog>
